li a {
    color: green;
}
body {
    background: white url("images/background.jpg") no-repeat right bottom;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
